body {
  background-color: #232931;
  color: #ffffff;
  font-family: calibri, sans-serif;
  font-size: small;
}

.grid-wrapper {
  display:flex;
  justify-content: start;
}

.main-grid{
  display: inline-grid;
  grid-template-areas: "params functions rots";
  grid-template-columns: fit-content(100%) fit-content(100%) fit-content(100%); /* three columns */
  grid-gap: 8px;   /* gap between columns of the main page*/
}

.parameter-grid {
  /*outline: 3px solid black;*/
  grid-gap: 12px; /*gap between sections in this area of the grid*/
  max-width: 100%;
  display:flex;
  flex-direction:column;
  grid-area: params;
}

.functions-grid {
  grid-gap: 8px;
  max-width: 100%;
  display:flex;
  flex-direction:column;
  grid-area: functions;

}

.rotation-container {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  grid-area: rots;
}

table {
  border-collapse:collapse;
  max-height:100%;
  border-left:none;
  border-right:none;
  border-spacing:none;
}

tbody {
  width:100%;
}

td, th {
  border: none;
  border-color:inherit;
  border-radius: 8px;
  text-align: center;
  max-height: 100%;
  max-width: 100%;
  background-color: inherit;
  font-size:14px;}

th {
  background-color: rgb(77, 146, 237);
  color: black;
  font-size: 14px;
  font-family: sans-serif;
}
tr {
  background-color: #f0f0f0;
  color:black;
}
tr:nth-child(even) {
  background-color: #969696;
  color:black;
}
td:nth-child(2) {
  max-width: 100px;
}

.func-col {
  display: flex;
  justify-content:center;
  border-radius: 4px;
  text-align:center;
  vertical-align: middle;
}



.input-col > select {
  color: black;
  background-color: inherit;
  width: 100%;
  height:100%;
  padding:none;
  border-radius: 8px;
  border:none;
  text-align:center;
  cursor:pointer;
}

.input-col > input {
  background-color: inherit;
  border:none;
  outline:none;
  max-width:100%;
  justify-content:center;
  width:100%;
  box-sizing: border-box;
  border-radius: 4px;
  text-align:center;
}

.input-col > button {
  border:none;
  height:100%;
  min-width:30px;
  max-width:100%;
  border-radius:8px;
  text-align:left;
  padding:1px 1px;
}

.func-col > button {
  height: 24px;
  width: 50px;
  background-color: #41ae76;
  display:flex;
  justify-content: center;
  vertical-align: middle;
}

.ability-col > input {
  background-color: inherit;
  border:none;
  outline:none;
  max-width:100%;
  justify-content:center;
  width:100%;
  box-sizing: border-box;
  border-radius: 0px;
  text-align:center;
}

.icon-col {
  text-align: -webkit-center;
  width: 24px;
  height: 24px;
  padding: 2px;
  background-color: #232931;
  border-radius:0px
}
.icon-col td {
  border-radius:0px;
}

.icon-col > img {
  max-height: 100%;
  max-width: 100%;
  display: block;
  margin: auto;
}

button {
  border: none;
  padding: none;
  border-radius: 8px;
  cursor: pointer;
  width: 100%;
  height: 100%;
  display:flex;
  justify-content:center;
};

button:hover {
  background-color: lightblue;
}

input:hover, select:hover, input:focus {
  filter: brightness(120%);
}
